@charset"utf-8";
.From {
    right:5%;
    background-color:rgba(255, 255, 255, 0.50);
    border:1px solid black;
}
.HeaderTitle {
     background-color:#284775;
     Color:White;
     text-align:Center;
}
.TextBox_1 {
    border:1px solid Gray;
}